body{
  background-color:#a4152c;
}

#container{
  overflow: hidden;
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: ease-in 1s;
  position: relative;
  left: 0;
}
.slide {
  min-width: 100%;
  height: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.arrow{
  text-align: center;
}


.sliders {
  color: white;
  display: flex;
  height: 100%;
  width: 435%;
  /* transform: translate(-30%); */
  transition: ease-in-out all 0.3s;
}
.sliders div {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrows {
  text-align: center;
margin-top: 30px;
  font-size: 30px;
}

.fa-arrow-alt-circle-left{
  font-size: 40px;
  cursor: pointer;
  color:#1e1e26;
}

.fa-arrow-alt-circle-left:hover{
  color: gainsboro;
}

.fa-arrow-alt-circle-right{
  font-size: 40px;
  cursor: pointer;
  color:#1e1e26;
}

.fa-arrow-alt-circle-right:hover{
  color: gainsboro;
}

.radios ul {
list-style: none;
display: flex;
position: absolute;
bottom: 0;
left: 50%;
margin: 0;
padding: 0;
transform: translate(-50%);
}

.radios ul li {
width: 10px;
height: 10px;
background: #333;
border: 2px solid #1e1e26;
border-radius: 50px;
margin: 10px;
cursor: pointer;
}
.radios ul li.selected {
background: white;
}


.arrow-left{
  cursor: pointer;
  margin-right:20px;
}

.arrow-left:hover{
  color: white;
}

.arrow-right{
  cursor: pointer;
  margin-left:20px;
}

.arrow-right:hover{
  color: white;
}



li{
list-style:none;
}
a{
text-decoration:none;
}

.container{
width:100%;

justify-content: center;
align-items: center;
display: flex;
}
.box{
width:350px;
height:610px;
background-color:#1e1e26;
border-radius: 10px;
box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
margin: 20px 10px;
}
.model{
height: 350px;
max-height: 100%;
max-width: 100%;
}
.details{
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
}
.details p{
font-family: calibri;
font-weight: bold;
color:#6a6a74;
text-align: center;
margin-top: 20px;
}
.marvel{
color:#32323e;
font-weight: bold;
letter-spacing: 2px;
font-family: bebas kai;
font-size: 25px;
}
.logo{
height: 60px;
}
.box:hover{
background-color: #17171d;
transform-style: preserve-3d;
transform: scale(1.02);
transition: all ease 0.3s;
}
.box:hover .marvel{
color:#c0292b;
transition: all ease 0.5s;
}


ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0px !important;
}



ul li {
  list-style: none;
  background: #333;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #1e1e26;
}

.active {
  background: white;
}


/*--responsive for mobile phone--*/
@media(max-width:720px){
.box{
  width: 94%;
  height: 500px;
}
.model{
  height:250px;
}
.details p{
  font-size: 16px;
  width: 250px;
}

}

